table {
	width: 100%;
	border-collapse: collapse;
	}
th, td {
	border: 1px solid black;
	}
img {
	width: 200px;
	}
	.skupa li{
	display: inline;
	}
	.ll{
		display: inline-block;
		vertical-align: top;
	}
	.desno{
		margin-left: 150px;
	}
	.c{
		text-align: center;
	}
	.lista{
	list-style-type: lower-alpha;
	}
	        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
        }

        img {
            width: 200px;
        }

        .skupa li {
            display: inline;
        }

        .ll {
            display: inline-block;
            vertical-align: top;
        }

        .desno {
            margin-left: 150px;
        }

        .c {
            text-align: center;
        }

        .lista {
            list-style-type: lower-alpha;
        }

        #s1 {
            display: contents;
        }

        body {
            color: purple;
        }

        div {
            margin: 30px 0;
            text-align: center;
        }

        .pod {
            font-weight: bold;
        }

        .podcrt {
            text-decoration: underline;
        }

        p, div {
            border: 1px solid #000;
            width: 200px;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 8px;
            vertical-align: top;
        }

        .backg {
            background-color: #FFA500;
            color: #fff;
        }

        .bor {
            border-style: dashed;
        }
	
